.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}


.icon--swipe {
    width: 24px;
    height: 24px;
    fill: var(--accent);
    position: absolute;
    right: 8px;
    top: 0;
    will-change: right, opacity;
    animation: swipe 2s ease-in-out infinite;

    @include desktop {
        display: none;
    }
}

@keyframes swipe {
    0% {
        opacity: 0;
        right: 8px;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 60px;
    }
    
    @include desktop {
        display: none;
    }
}